# development folders
.vscode/
__pycache__/
*.egg-info/
.pytest_cache
build/
dist/
# pyinstall spec
*.spec
# setup-finder generated stuff + solution-finder install
solution-finder-0.511/
cache/*
output.txt
output/*
cache.bin
input.txt
default.png
error.log
# personal folder
notes/